<!-- Footer -->

<footer class="footer">
    <div class="container">

        <div class="footer__content">
            <div class="footer__region">
                <h4 class="contact__details-region">Russian team</h4>
                <p class="contact__details-item">contact@unionsmarttech.ru</p>
                <p class="contact__details-item">+7 911 932-90-29</p>
                <p class="contact__details-item">24 Entuziastov street, Saint Petersburg, 191 119</p>
            </div>
            <div class="footer__region">
                <h4 class="contact__details-region">Slovak team</h4>
                <p class="contact__details-item">contact@unionsmarttech.ru</p>
                <p class="contact__details-item">+421 494 539-852</p>
                <p class="contact__details-item">24 Entuziastov street, Saint Petersburg, 191 119</p>
            </div>
            <!-- <div class="footer__menus"> -->
            <div class="footer__menu">
                <a href="" class="footer__menu-link">home</a>
                <a href="" class="footer__menu-link">Team</a>
                <a href="" class="footer__menu-link">Services</a>
            </div>
            <div class="footer__menu">
                <a href="" class="footer__menu-link">Career</a>
                <a href="" class="footer__menu-link">Portfolio</a>
                <a href="" class="footer__menu-link">Contacts</a>
            </div>
            <div class="footer__menu">
                <a href="" class="footer__menu-link">Facebook</a>
                <a href="" class="footer__menu-link">instagram</a>
                <a href="" class="footer__menu-link">Dribbble</a>
                <a href="" class="footer__menu-link">linkedin</a>
            </div>
            <!-- </div> -->
        </div>

    </div>
</footer>