.clients h2 {
  text-align: center;
}

.client__items {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 100px;
}

@media (max-width: 1400px) {
  .client__items {
    margin-top: 50px;
    gap: 20px;
  }
}

@media (max-width: 992px) {
  .client__items {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .client__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  .client__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
