.main {
  background-image: url("../../images/portfolioBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main__content {
  padding: 150px 0;
  width: 50%;
}

@media (max-width: 768px) {
  .main__content {
    padding: 150px 0;
    width: 75%;
  }
}

@media (max-width: 576px) {
  .main__content {
    padding: 100px 0;
    width: 100%;
  }
}
